{% extends 'base.html.twig' %}

{% block title %}Actualizacion historial{% endblock %}

{% block body %}
<h1>Editar historial de {{controles.paciente.nombre}}</h1>
<form class="form-horizontal" role="form" method="post" action="{{BASE_URL}}controlSalud/update/{{controles.id}}">
  <div class="col-md-12">
    <div class="form-group">
      <label for="edad" class="col-lg-2 control-label">edad</label>
      <div class="col-lg-10">
        <input type="number" class="form-control" name="edad" id="edad" value="{{controles.paciente.edad}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="fecha" class="col-lg-2 control-label">fecha</label>
      <div class="col-lg-10">
        <input type="date" name="fecha" value="{{controles.fecha}}" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="peso" class="col-lg-2 control-label">peso</label>
      <div class="col-lg-10">
        <input type="text" name="peso" value="{{controles.peso}}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="vacunas_completas" class="col-lg-2 control-label">vacunas completas</label>
      <div class="col-lg-10">
        <select class="form-control" name="vacunas_completas" id="vacunas_completas" required>
          <option value="1" {% if controles.vacunasCompletas == '1' %}selected{% endif %}>Si</option>
          <option value="0" {% if controles.vacunasCompletas == '0' %}selected{% endif %}>No</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="maduracion_acorde" class="col-lg-2 control-label">maduracion acorde</label>
      <div class="col-lg-10">
        <select class="form-control" name="maduracion_acorde" id="maduracion_acorde" required>
          <option value="1" {% if controles.maduracionAcorde == '1' %}selected{% endif %}>Si</option>
          <option value="0" {% if controles.maduracionAcorde == '0' %}selected{% endif %}>No</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="maduracion_observaciones" class="col-lg-2 control-label">Maduracion observaciones</label>
      <div class="col-lg-10">
        <input type="text" name="maduracion_observaciones" value="{{controles.maduracion_observaciones}}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="ex_fisico_normal" class="col-lg-2 control-label">ex fisico normal</label>
      <div class="col-lg-10">
        <select class="form-control" name="ex_fisico_normal" id="ex_fisico_normal" required>
          <option value="1" {% if controles.exFisicoNormal == '1' %}selected{% endif %}>Si</option>
          <option value="0" {% if controles.exFisicoNormal == '0' %}selected{% endif %}>No</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="ex_fisico_observaciones" class="col-lg-2 control-label">ex fisico observaciones</label>
      <div class="col-lg-10">
        <textarea name="ex_fisico_observaciones" rows="4" cols="80" class="form-control" maxlength="255" >{{controles.exFisicoObservaciones}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="pc" class="col-lg-2 control-label">pc</label>
      <div class="col-lg-10">
        <input type="text" name="pc" value="{{controles.pc}}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="ppc" class="col-lg-2 control-label">ppc</label>
      <div class="col-lg-10">
        <input type="text" name="ppc" value="{{controles.ppc}}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="talla" class="col-lg-2 control-label">talla</label>
      <div class="col-lg-10">
        <input type="text" name="talla" value="{{controles.talla}}" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="alimentacion" class="col-lg-2 control-label">alimentacion</label>
      <div class="col-lg-10">
        <input type="text" name="alimentacion" value="{{controles.alimentacion}}" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
      <label for="observaciones_generales" class="col-lg-2 control-label">observaciones generales</label>
      <div class="col-lg-10">
        <textarea name="observaciones_generales" rows="4" cols="80" class="form-control" maxlength="255">{{controles.observacionesGenerales}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-default">Aceptar</button>
      </div>
    </div>

  </div>

</form>

{% endblock %}

{% block js %}
  <script language="JavaScript" src="{{JS_BASE_URL}}/update.js"></script>
{% endblock %}
